extends layout.pug

block content
    script(src="/javascripts/vote.js")
    div
        h1= question.title
        input(name='search' type='text' placeholder='Search....')

        ul
            p Asked by #{question.User.username} #{question.createdAt} ago

        button(class="upVoteFor#{question.id}") Up

        button(class="downVoteFor#{question.id}") Down

        div(class="#voteCountFor#{question.id}") Vote Count
            ul
                h2 Question:
                p= question.textArea

                //- h4 Answers
                //- each answer in answers
                //-    .container
                //-         div= answer.textarea
                //-             p= answer.User.username
                //-             p= answer.createdAt