extends layout.pug

block content
    link(rel="stylesheet", href="/stylesheets/answers.css")
    script(src="/javascripts/vote.js")
    div.container
        h2= question.title

        h1 Question:
        a(href=`/questions/${question.id}`)
            h2= question.textArea
        div
            button(id=`upVoteFor${question.id}` class="up-vote-button") Up
        div(id=`voteCountFor${question.id}` class="voteCount") Vote Count
        div
            button(id=`downVoteFor${question.id}` class="down-vote-button") Down
        p Asked by #{question.User.username} #{question.createdAt} ago

        
        h1 Answers:
        each answer in answers
            p= answer.textField
                div
                    button(id=`upAnswerVoteFor${answer.id}` class="up-vote-button") Up

                div(id=`answerVoteCountFor${answer.id}`  class="voteCount") Vote Count
                div
                    button(id=`downAnswerVoteFor${answer.id}` class="down-vote-button") Down

        form(action=`/questions/${question.id}` method="post")
            textarea(name="answer", cols="40", rows="5") Your answer
            button(type="submit") Post Your Answer