extends layout.pug

block content
    link(rel="stylesheet", href="/stylesheets/answers.css")
    script(src="/javascripts/vote.js")
    div.container.virusForm
        h1= question.title
        if userId === question.userId
            a(href=`/questions/questions-form/${question.id}`) edit
            a(href=`/questions/delete/${question.id}`) delete

        h2 Question:
        .answer-holder
            .vote-holder
                div(id=`upVoteFor${question.id}` class="up-vote-button")
                div(id=`voteCountFor${question.id}` class="voteCount")
                div(id=`downVoteFor${question.id}` class="down-vote-button" class="down-vote-button")
            .question-text
                a(href=`/questions/${question.id}`)
                p= question.textArea
            .answer-text2
                p Asked by #{question.User.username} #{question.createdAt} ago

        h2 Answers:
        div.answer-container
            each answer in answers
                .answer-holder
                    .vote-holder
                        div(id=`upAnswerVoteFor${answer.id}` class="up-vote-button")
                        div(id=`answerVoteCountFor${answer.id}`  class="voteCount") Vote Count
                        div(id=`downAnswerVoteFor${answer.id}` class="down-vote-button")

                    .answer-text: p= answer.textField
                    .answer-text2
                        p Answered by #{answer.User.username} #{answer.updatedAt} ago
                        if userId === answer.userId
                            .cruds
                                button: a(href=`/answers/${answer.id}/edit`) Edit
                                form(action=`/answers/${answer.id}?_method=DELETE` method="POST")
                                    button(type="submit" id="deleteBtn" class="dltBtn") Delete
        form(action=`/questions/${question.id}` method="post")
            div.post-answer
                h2 Your Answer:
                textarea(name="answer", cols="40", rows="5")
                button(type="submit") Post Your Answer
