extends layout.pug

block content
    script(src="/javascripts/vote.js")
    div
        h1= question.title
        input(name='search' type='text' placeholder='Search....')

        ul
            p Asked by #{question.User.username} #{question.createdAt} ago

        button(id=`upVoteFor${question.id}`) Up

        button(id=`downVoteFor${question.id}`) Down

        div(id=`voteCountFor${question.id}`) Vote Count
        ul
            h2 Question:
            p= question.textArea

            h2 Answers:
                each answer in answers
                    p= answer.textField

            form(action=`/questions/${question.id}` method="post")
                textarea(name="answer", cols="30", rows="10") Your answer
                button(type="submit") Post Your Answer
            


                //- h4 Answers
                //- each answer in answers
                //-    .container
                //-         div= answer.textarea
                //-             p= answer.User.username
                //-             p= answer.createdAt