extends layout.pug


block content
  div.questions
    div.nav-grid-area
      +navBar
    div.main-grid-area
      div.mgrid-1
        div.center-grid-1
          div
            h1 Questions
          div
            form(action="/questions-form")
              button Ask Question
        div.center-grid-2
          div
          div.links-grid
            a(href="").linkborder Interesting
            a(href="").linkborder Bountied
            a(href="").linkborder Hot
            a(href="").linkborder Week
            a(href="").linkborder Month
        div.center-grid-3
          div
              each question in questions
                div.classname
                  div.qb-grid1
                    div(id=`voteCountFor${question.id}` class="voteCount")
                    div.word votes
                  div.qb-grid2
                    div 0
                    //- div(id=`answerVoteCountFor${answer.id}` class="voteCount")
                    div.word answer
                  div.qb-grid3
                    div 0
                    div.word views
                  div.qb-grid4.questionLink= question.title
                  div.qb-grid5.word tags
                  div.qb-grid6
                    div.word User
                      span.word= question.User.username
                    div.word modified
                      span.word= question.updatedAt.toDateString()
        br
        h2.center-grid-4 Looking for more? Browse the <a href="/questions">complete list of questions</a>, or <a href="/tags">popular tags</a>. Help us answer <a href="/unanswered">unanswered questions</a>.
      div.mgrid-2
        div.div1
          div The Virusflow Blog
            div icon
            div Blog Title
            div icon
            div Blog Title
          div Featured on Meta
            div icon
            div Blog Title
            div icon
            div Blog Title
            div icon
            div Blog Title
          div Hot Meta Post
            div votes
            div Post
            div votes
            div Post
        div.div2
          div Custom Filters
          ul
            li
              a(href="") Create a custom filter
        div.div3
          div
            span icon
            span Watched Tags
            a(href="") edit
          div
          //-   each tag in tags create a div element
        div.div4
          div
            span icon
            span Ignored Tags
            a(href="") edit
          div
            a(href="") Add an ignored tag
        div.div5
          div image
          div blank space
          div image
        div.div6
          h4
            a(href="") Hot Covid Questions
          ul
            //- each hotquest in hotquestions create and li
        div.div7
          div icon
          a(href="") Recent questions feed
