extends layout.pug


block content
  div.questions
    div.nav-grid-area
      +navBar
    div.main-grid-area
      div.mgrid-1
        div.center-grid-1
          div
            h1.question-title Questions About Coronavirus
          div
            form(action="/questions-form")
              if(errors)
                each error in errors
                  .error
                    h2=error
              button Ask Question
        div.center-grid-2
          div
          div.links-grid
            a.linkborder Interesting
            a.linkborder Bountied
            a.linkborder Hot
            a.linkborder Week
            a.linkborder Month
        div.center-grid-3
          div
              each question in questions
                div.classname
                  div.qb-grid1
                    div(id=`voteCountFor${question.id}` class="voteCount")
                    div.word votes
                  div.qb-grid2
                    div=`${question.Answers.length}`
                    //- div(id=`answerVoteCountFor${answer.id}` class="voteCount")
                    div.word answers
                  div.qb-grid4.questionLink
                    a(href=`/questions/${question.id}`)=question.title
                  div.qb-grid5.word
                    if(errors)
                      each error in errors
                        .error
                          h2=error
                    if userId === question.userId
                      a(href=`/questions/questions-form/${question.id}`) edit
                      a(href=`/questions/delete/${question.id}`) delete
                  div.qb-grid6
                    div.word User
                      span.word= question.User.username
                    div.word modified
                      span.word= question.updatedAt.toDateString()
        br
        h2.center-grid-4 Looking for more? Browse the <a href="/">complete list of questions</a>, or <a>popular tags</a>. Help us answer <a>unanswered questions</a>.
      div.mgrid-2
        div#blogbox
          div.div1.headTitle The Virusflow Blog
            div.someSpace The Virus is Alive
            div.someSpace Do what think Covid-19 really is?
          div.div2.headTitle Featured News
            div.someSpace Worldwide News
            div.someSpace Virus on the loose
            div.someSpace Masks: A new way of life
          div.div3.headTitle Hot Post
            div.someSpace Will this virus kill me?
            div.someSpace Itchy throat, should I be worried?
